.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .title {
    margin: 0;
    padding: 20px 0;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  input[type="file"] {
    padding: 10px;
    margin: 10px 0;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  